<h2 align="center">Title: <%= @article.title %></h2>
<div class="card card-body col-xs-8 bg-light">
	<ul class="list">
		<div class="row center">
			<div class="col-md-2 offset-3 mx-auto text-center">
				<li>Created by:</li>
				<li ><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
				<li class="card-title">
					<%= link_to @article.user.username, user_path(@article.user) %>
				</li>
				<li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
			</div>
		</div>
	</ul>
	<h4 align="center"class="card-title mb-3"><strong>Description:</strong></h4>
	<%= simple_format(@article.description) %>
	<div class="d-flex justify-content-around card-body">
		<% if logged_in? && (current_user == @article.user or current_user.admin?) %>
			<%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
			<%= link_to "Delete this article", article_path(@article), method: :delete,
data: { confirm: "Are you sure you want to delete the article?"},
class: "btn btn-sm btn-danger" %> 
	  <% end %>
		<%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
	</div>
</div>