<h2 align="center">Title: <%= @article.title %></h2>
<div class="card card-body col-xs-8 bg-light">
	<h4 class="card-title mb-3"><strong>Description:</strong></h4>
	<%= simple_format(@article.description) %>
	<div class="d-flex justify-content-around card-body">
		<%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
		<%= link_to "Delete this article", article_path(@article), method: :delete,
data: { confirm: "Are you sure you want to delete the article?"},
class: "btn btn-sm btn-danger" %>
		<%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
	</div>
</div>