<nav class="navbar navbar-expand-sm navbar-light ">
  <%= link_to "BeKa", root_path, class: "navbar-brand", id: "logo" %>

  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to  "Blog",  articles_path, class: "nav-link text-light"  %>
      </li>
      <li class="nav-item active">
        <%= link_to  "Users",  users_path, class: "nav-link text-light"  %>
      </li>

      <li class="nav-item active">
        <%= link_to  "About",  about_path, class: "nav-link text-light"  %>
      </li>

      <% if logged_in? %>
      <li class="nav-item dropdown text-light">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Article
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to  "Create",  new_article_path, class: "nav-link text-dark"  %>
          <%= link_to  "Edit",  new_article_path, class: "nav-link text-dark"  %>
          <%= link_to  "Delete",  new_article_path, class: "nav-link text-dark"  %>
        </div>
      </li>
      <!-- Categories -->
      <li class="nav-item dropdown text-light">
        <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "All Categories", categories_path, class: "nav-link text-dark" %></li>
          <% Category.all.each do |category| %>
          <li><%= link_to "#{category.name}", category_path(category), class: "nav-link text-dark"%></li>
          <% end %>
          <% if logged_in? and current_user.admin? %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Create New Category", new_category_path, class: "nav-link text-dark" %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <% if logged_in? %>
      <li><%= link_to 'Log out', logout_path, class: "nav-link text-light", method: :delete %></li>

      <li class="nav-item dropdown text-light">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account Setting <%= "Admin" if current_user.admin? %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to  "Edit your profile",  edit_user_path(current_user), class: "nav-link text-dark"  %>
          <%= link_to  "View your profile",  user_path(current_user), class: "nav-link text-dark"  %>
          <%= link_to  "Hmmmm...", '#', class: "nav-link text-dark"  %>
        </div>
      </li>

      <% else %>
      <li><%= link_to 'Log in', login_path, class: "nav-link text-light" %></li>
      <li><%= link_to 'Sign up', signup_path, class: "nav-link text-light" %></li>
      <% end %>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>